@import 'variables';

@media (max-width: calc($lg-breakpoint - 1px)) {
  .sidebar {
    position: fixed;
    inset: 0;
    height: unset!important;
    transition: all .3s ease-in-out;
    padding: $default_radius;

    &.isToggled {
      width: calc($default_button_height + $default_radius);
      height: calc($default_button_height)!important;

      .sidebar-toggler {
        width: 100%;
      }

      .sidebar-header,
      .sidebar-contents {
        display: none!important;
      }
    }
  }
}

.sidebar {
  padding: 1rem;
  // height: 100%;
  gap: 2rem;
  display: flex;
  flex-direction: column;


  &.isToggled {
    .sidebar-container .sidebar {
      padding: 1rem .3rem;
    }
  }

  .sidebar-header {
    text-align: center;
  }

  .sidebar-toggler {
    background: none;
    border: none;
    color: $font_color;
    transition: all .3s ease-in-out;
    width: $default_button_height;
    height: $default_button_height;
    padding: .5rem;
    border-radius: 12px;

    &:hover {
      cursor: pointer;
      background-color: $main_color;
      color: $font_color_contrast;
    }
  }
  
  .sidebar-container {
    border-radius: $default_radius;
    background-color: $sidebar_color;
    color: $font_color;
    height: 100%;
    padding: 1rem .5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

    .sidebar-contents {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}