<div class="sidebar" [ngClass]="{isToggled}">
  <div class="sidebar-container">
    <button type="button" class="toggler sidebar-toggler" (click)="toggle()">
      <ng-icon [name]="togglerIcon" size="1.4rem" />
    </button>
    <div class="sidebar-header">
      <app-logo [short]="isToggled" />
    </div>
    <div class="sidebar-contents">
      <ng-container *ngFor="let item of items">
        <ng-container *ngIf="item.permissions && item.permissions?.length; else withoutPermissions">
          <app-sidebar-item [item]="item" *permissions="item.permissions" (onOpened)="handleItemOpened($event)" />
        </ng-container>
        <ng-template #withoutPermissions>
          <app-sidebar-item [item]="item" (onOpened)="handleItemOpened($event)" />
        </ng-template>
      </ng-container>
    </div>
  </div>
</div>

<button type="button" class="toggler sidebar-sm-toggler" [ngClass]="{isToggled}" (click)="toggle()">
  <ng-icon [name]="togglerIcon" size="1.4rem" />
</button>