@import 'variables';

.toggler {
  background: none;
  border: none;
  color: $font_color;
  transition: all .3s ease-in-out;
  width: $default_button_height;
  height: $default_button_height;
  padding: .5rem;
  border-radius: 12px;

  &:hover {
    cursor: pointer;
    background-color: $main_color;
    color: $font_color_contrast;
  }
}

.sidebar-sm-toggler {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: $main_color;
  width: 3rem;
  height: 3rem;
  box-shadow: $default_box_shadow;
}

@media (max-width: calc($lg-breakpoint - 1px)) {
  :host {
    position: sticky;
    top: 10px;
    left: 10px;
    z-index: 30;
  }

  .sidebar-toggler {
    display: none;
  }

  .sidebar-sm-toggler {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
    z-index: 900;
  }

  .sidebar {
    position: fixed;
    inset: 0;
    transition: all .3s ease-in-out;
    padding: 0!important;
    z-index: 30;

    &.isToggled {
      transform: translateX(-110%);
    }
  }
}



.sidebar {
  padding: 1rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;


  &.isToggled {
    .sidebar-container .sidebar {
      padding: 1rem .3rem;
    }
  }

  .sidebar-header {
    text-align: center;
  }


  .sidebar-container {
    border-radius: $default_radius;
    background-color: $sidebar_color;
    color: $font_color;
    height: 100%;
    padding: 1rem .5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

    .sidebar-contents {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}