@import 'variables';

:host {
    display: block;
    width: 100%;
}

::ng-deep {
    p-chart > div {
        display: flex;
        justify-content: center;
        width: 100%!important;
    }
}

.chart-container {
    height: 300px;
    width: 100%;
    p-chart {
        display: flex;
        height: 300px;
        width: 100%;
    }
}