<div class="grid">
    <div class="col-12">
        <p-table #table [loading]="isLoading" [totalRecords]="totalRecords" [value]="referenceValues"
            [lazyLoadOnInit]="true" [lazy]="true" (onLazyLoad)="getAll($event)" [paginator]="true" [rows]="10"
            [rowsPerPageOptions]="[10,50,100]" sortField="name" [sortOrder]="1"
            styleClass="p-datatable-striped p-datatable-dark">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="category" class="text-left">{{'category' | translate}}<p-sortIcon field="category" /></th>
                    <th pSortableColumn="age_range" class="text-left">{{'pages.reference_values.age_range' | translate}}<p-sortIcon field="age_range" /></th>
                    <th class="text-left">{{'pages.reference_values.values' | translate}} ({{ 'pages.reference_values.fasting' | translate }})</th>
                    <th class="text-left">{{'pages.reference_values.values' | translate}} ({{ 'pages.reference_values.non_fasting' | translate }})</th>
                    <th pSortableColumn="updatedAt" class="text-left">{{'updated_at' | translate}}<p-sortIcon field="updatedAt" /></th>
                    <th class="text-center w150px"><ng-icon name="phosphorGear" size="1.2rem" /></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-reference_value let-index="rowIndex">
                <tr>
                    <td class="text-left">{{ reference_value.category ?? "-"  }}</td>
                    <td class="text-left">{{ getReferenceValuesAgeRange(reference_value, langService)  }}</td>
                    <td class="text-left">{{ getReferenceValuesString(reference_value, langService, 'fasting') ?? "-" }}</td>
                    <td class="text-left">{{ getReferenceValuesString(reference_value, langService, 'nonFasting') ?? "-" }}</td>
                    <td class="text-left">{{reference_value.updatedAt | customDate:{time: true} }}</td>
                    <td class="text-center actions w150px">
                        <a [routerLink]="['edit',reference_value._id]" class="btn btn-primary btn-circle table-btn"
                            [pTooltip]="'pages.reference_values.permissions.edit' | translate" tooltipPosition="left">
                            <ng-icon name="phosphorPencilSimple" size="1.2rem" />
                        </a>
                        <button type="button" class="btn btn-primary btn-circle table-btn"
                            [pTooltip]="'pages.reference_values.permissions.delete' | translate" tooltipPosition="left"
                            (click)="deleteReferenceValue(reference_value._id)">
                            <ng-icon name="phosphorTrashSimple" size="1.2rem" />
                        </button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <app-empty-table-message />
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>