<div class="page-buttons ">
    <button type="button" class="btn btn-circle btn-bare ml-auto" tooltipPosition="left"
        [pTooltip]="'pages.links.visit_link' | translate" (click)="isLinkVisitInfoVisible = true">
        <ng-icon name="phosphorArrowSquareOut" size="1.2rem" />
    </button>
</div>
<form [formGroup]="form">
    <div class="grid">
        <div class="col-12 md:col-4">
            <div class="card user-section">
                <ng-container *ngTemplateOutlet="userSection" />
            </div>
        </div>
        <div class="col-12 md:col-8">
            <div class="card links-section">
                <ng-container *ngTemplateOutlet="linksSection" />
            </div>
        </div>
    </div>
</form>

<ng-template #linksSection>
    <p-tabs value="0">
        <p-tablist>
            <p-tab value="0">
                <div class="flex flex-row align-items-center gap-2">
                    <ng-icon name="phosphorLink" />
                    <span>{{ 'pages.links.tabs.links' | translate }}</span>
                </div>
            </p-tab>
            <p-tab value="1">
                <div class="flex flex-row align-items-center gap-2">
                    <ng-icon name="phosphorPaintBucket" />
                    <span>{{ 'pages.links.tabs.appearance' | translate }}</span>
                </div>
            </p-tab>
            <p-tab value="2">
                <div class="flex flex-row align-items-center gap-2">
                    <ng-icon name="phosphorWrench" />
                    <span>{{ 'pages.links.tabs.configs' | translate }}</span>
                </div>
            </p-tab>

        </p-tablist>
        <p-tabpanels>
            <p-tabpanel value="0"><ng-container *ngTemplateOutlet="linkTab" /></p-tabpanel>
            <p-tabpanel value="1"><ng-container *ngTemplateOutlet="appearanceTab" /></p-tabpanel>
            <p-tabpanel value="2"><ng-container *ngTemplateOutlet="configsTab" /></p-tabpanel>
        </p-tabpanels>
    </p-tabs>
</ng-template>

<p-dialog [(visible)]="isLinkVisitInfoVisible" [maximizable]="false" [draggable]="false" [resizable]="false"
    [modal]="true" [dismissableMask]="false" styleClass="linkURLDialog">
    <ng-template pTemplate="body">
        @if(linkURL) {
        <div class="grid mb-5">
            <div class="col-12 text-center">
                <h3>{{ 'pages.links.link_url' | translate }}</h3>
                <a class="link" [href]="linkURL" target="_blank" [pTooltip]="'pages.links.visit_link' | translate"
                    tooltipPosition="bottom">{{ linkURL }}</a>
            </div>
            <div class="col-12 text-center">
                <button type="button" class="m-auto btn btn-primary" (click)="copyToClipboard(linkURL)">
                    <ng-icon name="phosphorCopy" size="1.2rem" />
                    {{ 'copy_to_clipboard' | translate }}
                </button>
            </div>
            <div class="col-12 text-center">
                <span>{{ 'or' | translate }}</span>
                <br />
                <h3 class="mb-0">{{ 'pages.links.link_qrcode' | translate }}</h3>
            </div>
            <div class="col-12 text-center">
                <qrcode (qrCodeURL)="linkQRCodeURL = $event" [qrdata]="linkURL" [width]="256"
                    [errorCorrectionLevel]="'M'" />
                <button type="button" class="m-auto btn btn-default" (click)="downloadQRCodeUrl()">
                    <ng-icon name="phosphorDownload" size="1.2rem" />
                    {{ 'download_qrcode' | translate }}
                </button>
            </div>
        </div>
        }
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="isItemFormVisible" [maximizable]="false" [draggable]="false" [resizable]="false" [modal]="true"
    [dismissableMask]="false" [header]="'pages.links.form.configure_link' | translate">
    <form class="fadeindown animation-duration-100" [formGroup]="itemForm">
        <div class="grid">
            <div class="col-12">
                <div class="form-group">
                    <label for="title">{{ 'pages.links.form.item.title' | translate }}</label>
                    <input type="text" [placeholder]="'pages.links.form.item.title_info' | translate"
                        formControlName="title" requiredLabel class="form-control">
                    <app-error-block formControlName="title" [show]="itemFormSubmitted" />
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label for="url">{{ 'pages.links.form.item.url' | translate }}</label>
                    <input type="text" [placeholder]="'pages.links.form.item.url_info' | translate"
                        formControlName="url" requiredLabel class="form-control">
                    <app-error-block formControlName="url" [show]="itemFormSubmitted" />
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label for="status">{{ 'status' | translate }}</label>
                    <p-toggleswitch formControlName="status" />
                    <small>{{ 'pages.links.form.item.status_info' | translate}}</small>
                    <app-error-block formControlName="status" [show]="itemFormSubmitted" />
                </div>
            </div>
        </div>
        <div class="grid">
            <div class="col-12 flex justify-content-around gap-4">
                <button type="button" class="btn btn-default btn-block" (click)="isItemFormVisible = false">
                    <span>{{ 'cancel' | translate }}</span>
                </button>
                <button type="button" class="btn btn-primary btn-block" (click)="saveItem()">
                    <span>{{ 'continue' | translate }}</span>
                </button>
            </div>
        </div>
    </form>
</p-dialog>

<ng-template #linkTab>
    <div class="grid w100 fadein animation-duration-100">
        <div class="col-12">
            <button type="button" class="btn btn-circle btn-primary ml-auto" tooltipPosition="left"
                [pTooltip]="'pages.links.form.configure_link' | translate" (click)="showItemForm()">
                <ng-icon name="phosphorPlus" size="1.2rem" />
            </button>
        </div>
        <div class="col-12 item-cards-container" cdkDropList (cdkDropListDropped)="onItemCardDrop($event)">
            @if(items.length) {
            @for (itemControl of items.controls; track $index) {
            @if(itemControl.value; as item) {
            <div cdkDrag>
                <div class="item-card" [ngClass]="{unabled: !item.status}">
                    <div class="item-title">
                        {{item.title}}
                    </div>
                    <div class="item-buttons">
                        <button [pTooltip]="'pages.links.form.configure_link' | translate" tooltipPosition="left"
                            type="button" class="btn btn-circle btn-bare" (click)="showItemForm($index)">
                            <ng-icon name="phosphorPencilSimple" size="1rem" />
                        </button>
                        <button [pTooltip]="'pages.links.form.delete_link' | translate" tooltipPosition="left"
                            type="button" class="btn btn-circle btn-bare btn-danger" (click)="removeItem($index)">
                            <ng-icon name="phosphorTrashSimple" size="1rem" />
                        </button>
                    </div>
                </div>
            </div>
            }
            }
            } @else {
            <div class="grid">
                <div class="col-12 text-center">
                    <span>{{ 'pages.links.form.no_records_found' | translate }}</span>
                </div>
            </div>
            }
        </div>
    </div>
</ng-template>

<ng-template #customAppearanceSelector>
    <ng-container [formGroup]="form">
        <div class="grid card fadeindown animation-duration-500" formGroupName="configuration">
            <div class="col-12 flex flex-row align-items-center justify-content-between">
                <h4>{{ 'pages.links.custom.title' | translate }}</h4>
                <button type="button" class="btn btn-primary" (click)="applyCustomTheme()">
                    {{ 'pages.links.custom.apply_custom' | translate }}
                </button>
            </div>
            <div class="col-12">
                <div class="form-group flex flex-row align-items-center justify-content-between">
                    <span>{{ 'pages.links.custom.main_color' | translate }}</span>
                    <div class="flex flex-row gap-2 align-items-center justify-content-end">
                        <input type="color" formControlName="main_color" class="form-control">
                        <span class="monospace">{{ form.get("configuration.main_color")?.value }}</span>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group flex flex-row align-items-center justify-content-between">
                    <span>{{ 'pages.links.custom.secondary_color' | translate }}</span>
                    <div class="flex flex-row gap-2 align-items-center justify-content-end">
                        <input type="color" formControlName="secondary_color" class="form-control">
                        <span class="monospace">{{ form.get("configuration.secondary_color")?.value }}</span>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group flex flex-row align-items-center justify-content-between">
                    <span>{{ 'pages.links.custom.font_color' | translate }}</span>
                    <div class="flex flex-row gap-2 align-items-center justify-content-end">
                        <input type="color" formControlName="font_color" class="form-control">
                        <span class="monospace">{{ form.get("configuration.font_color")?.value }}</span>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</ng-template>

<ng-template #appearanceTab>
    <div class="fadein animation-duration-100">
        @if(form.get('configuration.theme')?.value; as selectedTheme) {
        <div class="appearance-grid mb-4">
            @for (theme of themes; track $index) {
            <app-appearance-item [theme]="theme" [selected]="selectedTheme == theme"
                (click)="setSelectedTheme(theme)" />
            }
        </div>

        @if(selectedTheme == 'custom') {
        <ng-container *ngTemplateOutlet="customAppearanceSelector" />
        }
        }

    </div>
</ng-template>

<ng-template #configsTab>
    <div class="grid">
        tab 3
    </div>
</ng-template>

<ng-template #userSection>
    <div class="grid">
        <div class="col-12 flex flex-row justify-content-center">
            <div class="user-profile-container">
                <div class="profile-image-wrapper">
                    @if(isUploadingProfileImage()) {
                        <div class="profile-image-loader">
                            <app-loader />
                        </div>
                    }
                    <div class="profile-image">
                        @if(profileImage) {
                            <img [src]="profileImage" />
                        } @else {
                            {{ profileImageTitle }}
                        }
                    </div>
                </div>
                <app-file-upload #fileUpload style="display: none;" model="link" [modelId]="_id!" (isUploadingFile)="isUploadingProfileImage.set($event)" (onFileUploaded)="onProfileUploaded($event)" />
                <button (click)="enableProfileUpload()" class="icon btn btn-primary">
                    <ng-icon name="phosphorPencilSimple" />
                </button>
            </div>
        </div>
        <div class="col-12 flex flex-row justify-content-center">
            <div class="user-personal-info-container">
                @if(isEdittingProfile()) {
                <ng-container *ngTemplateOutlet="ngPersonalInfoContainer"></ng-container>
                } @else {
                <ng-container *ngTemplateOutlet="ngPersonalInfoForm"></ng-container>
                }
            </div>
        </div>
    </div>
</ng-template>

<ng-template #ngPersonalInfoContainer>
    <form [formGroup]="form">
        <div class="grid fadeindown animation-duration-100" formGroupName="profile">
            <div class="col-12">
                <div class="form-group">
                    <label for="show">{{ 'pages.links.profile.show' | translate }}</label>
                    <p-toggleswitch formControlName="show" />
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label for="title">{{ 'pages.links.profile.title' | translate }}</label>
                    <input type="text" formControlName="title" requiredLabel class="form-control">
                    <app-error-block formControlName="title" [show]="isSubmitted" />
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label for="subtitle">{{ 'pages.links.profile.subtitle' | translate }}</label>
                    <textarea formControlName="subtitle" requiredLabel class="form-control"></textarea>
                    <app-error-block formControlName="subtitle" [show]="isSubmitted" />
                </div>
            </div>
            <div class="col-12 md:col-6">
                <div class="form-group">
                    <label for="phone">{{ 'pages.links.profile.phone' | translate }}</label>
                    <input type="text" formControlName="phone" requiredLabel class="form-control">
                    <app-error-block formControlName="phone" [show]="isSubmitted" />
                </div>
            </div>
            <div class="col-12 md:col-6">
                <div class="form-group">
                    <label for="phone2">{{ 'pages.links.profile.phone2' | translate }}</label>
                    <input type="text" formControlName="phone2" requiredLabel class="form-control">
                    <app-error-block formControlName="phone2" [show]="isSubmitted" />
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label for="email">{{ 'pages.links.profile.email' | translate }}</label>
                    <input type="email" formControlName="email" requiredLabel class="form-control">
                    <app-error-block formControlName="email" [show]="isSubmitted" />
                </div>
            </div>
            <div class="col-12 flex justify-content-around gap-4">
                <button type="button" class="btn btn-default btn-block" (click)="editProfile(true)">
                    <span>{{ 'cancel' | translate }}</span>
                </button>
                <button type="button" class="btn btn-primary btn-block" (click)="saveProfile()">
                    <span>{{ 'save' | translate }}</span>
                </button>
            </div>
        </div>
    </form>
</ng-template>

<ng-template #ngPersonalInfoForm>
    <div class="grid w100 fadeindown animation-duration-100">
        <app-personal-info class="w100" [profile]="form.get('profile')?.value" />
        <div class="col-12 flex justify-content-center">
            <button type="button" class="btn btn-primary" (click)="editProfile()">
                <ng-icon size="1.2rem" name="phosphorPencilSimple" />
                <span>{{ 'pages.links.profile.edit' | translate }}</span>
            </button>
        </div>
    </div>
</ng-template>