@import 'variables';
@import 'profile';

:host {
  display: block;
}

.user-personal-info-container {
  width: 100%;
  overflow: hidden;
}

.item-cards-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 8rem;

  @media (max-width: $md-breakpoint) {
    padding: 0 1rem;
  }

}
.item-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: $default_box_shadow;
  padding: 1rem;
  border-radius: 15px;
  transition: all .3s ease-in-out;
  background-color: $sidebar_color;

  &.unabled {
    opacity: .5;

    button {
      opacity: 1;
    }
  }

  .item-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  &:hover {
    box-shadow: $default_hover_box_shadow;
  }
}

.cdk-drag-preview {
  border: none;
  box-sizing: border-box;
  border-radius: 15px;
  box-shadow: $default_box_shadow;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

::ng-deep {
  .linkURLDialog {
    @media (min-width: $xl-breakpoint) {
      max-width: 30vw;
    }
    @media (min-width: $lg-breakpoint) {
      max-width: 40vw;
    }
    @media (min-width: $md-breakpoint) {
      max-width: 60vw;
    }
    @media (max-width: calc($md-breakpoint - 1px)) {
      width: 90vw;
    }

  }
}




.appearance-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  column-gap: 1rem;
}

.social-links-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
  gap: 1rem;

  app-social-link {
    width: 3rem;
    height: 3rem; 
  }
}

.social-card {
  position: relative;
  width: 20%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.absolute-btn {
  position: absolute;
  right: -10px;
  top: -10px;
}
