@import 'variables';

$card_color: $secondary_color;

.card {
    border: 1px solid $card_color;
    background-color: $sidebar_color;
    position: relative;
    overflow: hidden;
    padding: 1rem 2rem;

    .card-row {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    .card-date {
        font-size: .8rem;
        opacity: .8;
    }


    .card-title {
        font-size: 1rem;
    }

    .card-icon {
        position: absolute;
        height: 100%;
        right: 50px;
        opacity: 0.3;
        top: 0;
        transform: rotate(50grad);
        color: $card_color;
    }

    .card-value {
        text-align: center;

        .value {
            font-size: 1.4rem;
            font-weight: bold;
        }

        .unit {
            font-size: 1rem;
        }
    }

    ::ng-deep {

        ng-icon.card-icon,
        ng-icon.card-icon svg {
            height: 100%;
        }
    }
}