@import 'variables';
@import 'fonts';

.logo {
  font-family: $title_font !important;
  color: $main_color;
  font-size: 2rem;
  transition: all .3s ease-in-out;
  position: relative;
  user-select: none;
  
  img {
    transition: all .3s ease-in-out;
    max-width: 100px;
  }
}

::ng-deep {
  .sidebar.isToggled .logo img {
    transform: rotate(90deg);
  }
}