<form [formGroup]="form">
    <h3 class="text-center w-100">{{ 'pages.signin.title' | translate }}</h3>
    <div class="row mb-6">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="email">{{ 'email' | translate }}</label>
                <input type="email" class="form-control" formControlName="email" />
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="password">{{ 'password' | translate }}</label>
                <input type="email" class="form-control" formControlName="password" />
                <small class="btn-link">{{ 'pages.signin.forgot_password' | translate }}</small>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary btn-block">
                <span>{{ 'login' | translate}}</span>
                <ng-icon name="phosphorSignIn" size="1.2rem" />
            </button>
        </div>
    </div>
    <h5 class="text-center w-100 btn-link">{{ 'pages.signin.create' | translate }}</h5>
</form>