<div class="page">
    <div class="title-row">
        <h3 *ngIf="title" class="page-title">{{ title }}</h3>
        <ng-container *ngIf="showAddButton">
            <button type="button" *permissions="['links.add']" class="btn btn-primary btn-circle ml-auto"
                [pTooltip]="'pages.links.permissions.add' | translate" tooltipPosition="left" (click)="createLink()">
                <ng-icon name="phosphorPlus" size="1.4rem" />
            </button>
        </ng-container>
    </div>
    <app-breadcrumbs />

    <div class="page-content">
        <router-outlet />
    </div>
</div>