<div class="grid">
    @if(profile?.title) {
        <div class="col-12 text-center">
            <h3 class="m1">{{ profile?.title }}</h3>
        </div>
    }
    @if (profile?.subtitle) {
        <div class="col-12 text-center">
            <span><i>{{ profile?.subtitle }}</i></span>
        </div>
    }
    @if(profile?.email) {
        <div class="col-12 text-center flex flex-row align-items-center gap-2 justify-content-center text-sm">
            <ng-icon name="phosphorEnvelopeSimple" size="1.2rem" /><span>{{ profile?.email }}</span>
        </div>
    }
    @if(profile?.phone || profile?.phone2) {
        <div class="col-12 text-center flex flex-row align-items-center gap-2 justify-content-center phones-row">
            @if(profile?.phone) {
                <div class="flex flex-row align-items-center gap-2 justify-content-center text-sm"><ng-icon
                        name="phosphorWhatsappLogo" size="1.2rem" /><span>{{ profile?.phone }}</span></div>
            }
            @if(profile?.phone2) {
                <div class="flex flex-row align-items-center gap-2 justify-content-center text-sm"><ng-icon
                        name="phosphorPhone" size="1.2rem" /><span>{{ profile?.phone2 }}</span></div>
            }
        </div>
    }
   
</div>