@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Rozha+One&display=swap');
@import 'variables';



// FONTS
$main_font: 'Poppins', sans-serif;
$title_font: 'Rozha One', serif; 

.text-secondary {
  color: $secondary_color;
}

.font-large {
  font-size: 2rem;
}