@import 'variables';

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.form-control {
    background: none;
    border: none;
    border-bottom: 1px solid $font_color;
    height: $default_control_height;
    color: $font_color;
    font-size: 1rem;
    font-family: $main_font, sans-serif;

    &:focus-visible {
        outline: none;
        border-bottom-color: $main_color;
    }

    &::placeholder {
        color: $font_color;
        opacity: .6;
    }

    &:disabled,
    &.disabled {
        opacity: .8;
        user-select: none;
    }
}

span.form-control {
    padding: .5rem 0;
}

p-dropdown.form-control {
    border: none !important;

    * {
        font-family: $main_font, sans-serif;
    }

    .p-dropdown {
        width: 100%;
        height: $default_control_height;

        .p-dropdown-label {
            padding: calc(($default_control_height / 3) - 5px);
        }
    }
}

textarea.form-control {
    height: auto;
    min-height: 2rem;
}

.form-control-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;

    .form-control-icon {
        position: absolute;
        top: 50%;
        color: $font_color;

        &.left {
            left: -15px;
            transform: translateY(-50%);
        }

        &.right {
            right: -15px;
            transform: translateY(-50%);
        }
    }
}