$main_color: #c1fba4;
$main_color_darker: darken($main_color, 10%);
$main_color_lighter: lighten($main_color, 10%);

$secondary_color: #ec698f;
$secondary_color_darker: darken($secondary_color, 10%);
$secondary_color_lighter: lighten($secondary_color, 10%);

$tertiary_color: #0000ff;
$tertiary_color_darker: darken($tertiary_color, 10%);
$tertiary_color_lighter: lighten($tertiary_color, 10%);

$font_color: #ffffff;
$font_color_contrast: #000000;

$background_color: #323232;
$sidebar_color: #232323;

$default_color: #bbbbbb;
$default_color_darker: darken($default_color, 10%);
$default_color_lighter: lighten($default_color, 10%);

$danger_color: #e63946;
$danger_color_darker: darken($danger_color, 10%);
$danger_color_lighter: lighten($danger_color, 10%);

$success_color: #2a9d8f;

// BREAKPOINTS
$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;
$xxl-breakpoint: 1400px;

$default_radius: 20px;
$default_button_height: 2.5rem;
$default_control_height: 40px;

:root {
    --main-color: #{$main_color};
    --secondary-color: #{$secondary_color};
    --font-color: #{$font_color};
    --font-color-contrast: #{$font_color_contrast};
}


