$main_color: #9EE37D;
$main_color_rgba: rgba(158, 227, 125, 1);
$main_color_darker: darken($main_color, 10%);
$main_color_lighter: lighten($main_color, 10%);

$secondary_color: #47AB90;
$secondary_color_darker: darken($secondary_color, 10%);
$secondary_color_lighter: lighten($secondary_color, 10%);

$tertiary_color: #0000ff;
$tertiary_color_darker: darken($tertiary_color, 10%);
$tertiary_color_lighter: lighten($tertiary_color, 10%);

$font_color: #171D1C;
$font_color_contrast: #171D1C;

$background_color: #fffff2;
$sidebar_color: #f1f0ea;

$default_color: #bbbbbb;
$default_color_darker: darken($default_color, 10%);
$default_color_lighter: lighten($default_color, 10%);

$danger_color: #e63946;
$danger_color_darker: darken($danger_color, 10%);
$danger_color_lighter: lighten($danger_color, 10%);

$success_color: #2a9d8f;

// BREAKPOINTS
$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;
$xxl-breakpoint: 1400px;

$default_radius: 20px;
$default_button_height: 2.5rem;
$default_control_height: 40px;

$default_box_shadow:  rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
$default_hover_box_shadow:  rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

:root {
    --main-color: #{$main_color};
    --secondary-color: #{$secondary_color};
    --font-color: #{$font_color};
    --font-color-contrast: #{$font_color_contrast};
}


