$main_color: #c1fba4;
$main_color_darker: darken($main_color, 10%);
$main_color_lighter: lighten($main_color, 10%);

$secondary_color: #ec698f;
$secondary_color_darker: darken($secondary_color, 10%);
$secondary_color_lighter: lighten($secondary_color, 10%);

$tertiary_color: #0000ff;
$tertiary_color_darker: darken($tertiary_color, 10%);
$tertiary_color_lighter: lighten($tertiary_color, 10%);

$font_color: #ffffff;
$font_color_contrast: #000000;

$background_color: #232323;
$sidebar_color: #414141;

// BREAKPOINTS
$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;
$xxl-breakpoint: 1400px;

$default_radius: 20px;
$default_button_height: 2.5rem;


