@import 'variables';
@import 'fonts';

.sidebar-item-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: .5rem;
  padding: .8rem;
  transition: all .3s ease-in-out;
  border-radius: $default_radius;
  line-height: 1rem;
  letter-spacing: 0;
  overflow: hidden;
  text-overflow: unset;
  position: relative;
  text-decoration: none;
  color: $font_color;

  span {
    overflow: hidden;
    letter-spacing: 0;
    transition: .3s ease-in-out;
    text-overflow: unset;
  }

  &:hover {
    cursor: pointer;
    background-color: $main_color;
    color: $font_color_contrast;
  }

  &.isToggled {
    padding: .8rem 0;
    justify-content: center;
    border-radius: 10px;

    span {
      letter-spacing: -1em;
      display: none;
    }
  }
}