@import 'variables';
@import 'fonts';

.sidebar-item-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: .5rem;
  padding: .8rem;
  transition: all .3s ease-in-out;
  border-radius: $default_radius;
  line-height: 1rem;

  &:hover {
    cursor: pointer;
    background-color: $main_color;
    color: $font_color_contrast;
  }
}