<form [formGroup]="form">
    <div class="grid">
        <div class="col-12 md:col-10">
            <div class="form-group">
                <label for="name">{{ 'name' | translate }}</label>
                <input type="text" formControlName="name" requiredLabel="name" class="form-control"
                    [placeholder]="'pages.exam_types.name_example' | translate">
                <app-error-block formControlName="name" [show]="isSubmitted" />
            </div>
        </div>
        <div class="col-12 md:col-2">
            <div class="form-group">
                <label for="unit">{{ 'pages.exam_types.unit' | translate }}</label>
                <input type="text" formControlName="unit" requiredLabel="unit" class="form-control"
                    [placeholder]="'pages.exam_types.unit_example' | translate">
                <app-error-block formControlName="unit" [show]="isSubmitted" />
            </div>
        </div>
        <div class="col-12 md:col-6">
            <div class="form-group">
                <label for="material" class="mb-2">{{ 'pages.exam_types.material' | translate }}</label>
                <input type="text" formControlName="material" class="form-control"
                    [placeholder]="'pages.exam_types.material_example' | translate" />
                <app-error-block formControlName="material" [show]="isSubmitted" />
            </div>
        </div>
        <div class="col-12 md:col-6">
            <div class="form-group">
                <label for="method" class="mb-2">{{ 'pages.exam_types.method' | translate }}</label>
                <input type="text" formControlName="method" class="form-control"
                    [placeholder]="'pages.exam_types.method_example' | translate" />
                <app-error-block formControlName="method" [show]="isSubmitted" />
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label for="description" class="mb-2">{{ 'description' | translate }}</label>
                <textarea class="form-control" rows="5" requiredLabel="description" formControlName="description"
                    [placeholder]="'pages.exam_types.description_example' | translate"></textarea>
                <app-error-block formControlName="description" [show]="isSubmitted" />
            </div>
        </div>

        <div class="col-12">
            <button type="button" class="btn btn-primary ml-auto" (click)="submitForm()">
                {{ 'save' | translate }}
            </button>
        </div>
    </div>
</form>