:host {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 15% 85%;
  height: 100%;
  min-height: 100vh;
  transition: all .3s ease-in-out;

  &.toggled {
    grid-template-columns: 5% 95%;
  }
}

.page-container {
  flex: 1;
}