@import 'variables';

:host {
  display: grid;
  grid-template-rows: 1fr;
  @media (min-width: $lg-breakpoint) {
    grid-template-columns: 15% 85%;
    &.toggled {
      grid-template-columns: 5% 95%;
    }
  }
  grid-template-columns: 1fr;
  height: 100%;
  min-height: 100svh;
  transition: all .3s ease-in-out;

}

.page-container {
  flex: 1;
}