<div class="grid">
    <div class="col-12">
        <div class="cards-container">
            @if(isLoading()) {
            @for (item of [].constructor(5); track $index) {
            <p-skeleton class="card" width="100%" height="100%" />
            }
            } @else {
            @for (item of links(); track $index) {
            <div class="card">
                <div class="relative">
                    <div class="card-icon">
                        <p-speeddial direction="left" [model]="buttons">
                            <ng-template pTemplate="button" let-toggleCallback="toggleCallback">
                                <button type="button" class="btn btn-circle btn-bare " (click)="toggleCallback($event)">
                                    <ng-icon name="phosphorGear" size="1.2rem" />
                                </button>
                            </ng-template>
                            <ng-template pTemplate="item" let-button let-toggleCallback="toggleCallback">
                                @if(!button.replaceUrl) {
                                    <button (click)="selectedItem = $index;toggleCallback($event, button)" type="button"
                                        class="btn btn-circle btn-bare btn-primary" [pTooltip]="button.tooltip | translate"
                                        [tooltipPosition]="button.tooltipPosition">
                                        <ng-icon [name]="button.icon" size="1.2rem" />
                                    </button>
                                } @else {
                                    <a [routerLink]="['/','links','edit',item._id]" type="button"
                                        class="btn btn-circle btn-bare btn-primary" [pTooltip]="button.tooltip | translate"
                                        [tooltipPosition]="button.tooltipPosition">
                                        <ng-icon [name]="button.icon" size="1.2rem" />
                                    </a>
                                }
                            </ng-template>
                        </p-speeddial>
                    </div>
                </div>
                <div class="card-title">
                    <div class="profile">
                        <app-personal-info [profile]="item.profile" size="small" />
                    </div>
                </div>
            </div>
            }
            }
        </div>
        <p-paginator [totalRecords]="totalRecords" [rowsPerPageOptions]="[10,50,100]" (onPageChange)="getAll($event)"
            [rows]="10" />
    </div>
</div>