<ng-container *ngIf="$exam_types | async as exam_types">
    <p-table #table [loading]="isLoading" [totalRecords]="totalRecords" [value]="exam_types" [lazyLoadOnInit]="true"
        [lazy]="true" (onLazyLoad)="getAll($event)" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,50,100]"
        styleClass="p-datatable-striped">
        <ng-template pTemplate="header">
            <tr>
                <th class="text-left">{{'name' | translate}}</th>
                <th class="text-left">{{'description' | translate}}</th>
                <th class="text-left">{{'unit' | translate}}</th>
                <th class="text-left actions"><ng-icon name="phosphorGear" size="1.2rem" /></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-eventType let-index="rowIndex"></ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <app-empty-table-message />
            </tr>
        </ng-template>
    </p-table>
</ng-container>