<div class="card flex flex-column p-3 lg:p-4 h100">
    <div class="card-header flex flex-row align-items-start justify-content-between">
        <div class="card-title">{{ ('pages.health_indicators.enum.' + indicator + '.title') | translate }}</div>
        <div class="card-icon font-large" *ngIf="icon"
            [ngStyle]="{'background-color': icon.background ? (icon.background + '23') : (icon.color + '23')}"><ng-icon
                [name]="icon.name" [color]="icon.color" /></div>
    </div>
    <div class="card-body flex-1">
        <div class="placeholder-chart h100">
            <app-placeholder-chart *ngIf="!data.datasets.length" />
            <app-data-chart [ngClass]="{hide: !data.datasets.length}" [data]="data" [xAxisLabel]="'date' | translate"
                            [yAxisLabel]="('pages.health_indicators.enum.' + indicator + '.unit') | translate" [yAxisFormatter]="formatter" />
        </div>
    </div>
    <div class="card-buttons">
        <button type="button" class="btn btn-default btn-circle table-btn"
            [pTooltip]="'add' | translate" [autoHide]="false" tooltipPosition="left" (click)="openIndicatorModal()">
            <ng-icon name="phosphorPlus" size="1.2rem" />
        </button>
    </div>
</div>

<app-health-indicator-modal #healthIndicatorModal />