<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <a [routerLink]="['/']">
            <ng-icon class="link" name="phosphorHouseSimple" size="1.2rem" />
        </a>
        <ng-icon name="phosphorCaretRight" size="1rem" *ngIf="breadcrumbs.length" />
        <li *ngFor="let item of breadcrumbs; let i = index; let lastItem = last" class="breadcrumb-item"
            [ngClass]="{ active: lastItem, hide: item.label == '' || item.label == undefined }">
            <a [routerLink]="[item.url]" *ngIf="!lastItem">{{ item.label }}</a>
            <span *ngIf="lastItem">{{ item.label }}</span>
            <ng-icon name="phosphorCaretRight" size="1rem" *ngIf="!lastItem" />
        </li>
    </ol>
</nav>