@import "primeng/resources/primeng.css";
@import 'variables';
@import 'mixins';
@import 'fonts';
@import 'forms';

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main_font, sans-serif;
}

body {
  background-color: $background_color;
  color: $font_color;
}

small {
  font-size: .8rem;
}

.btn-link {
  display: block;
  background: none;
  border: none;
  color: $font_color;
  cursor: pointer;
  font-weight: normal;
  transition: all 0.3s ease-in-out;
  text-decoration: none;

  &:hover {
    color: $main_color_darker !important;
  }
}

.btn {
  background: none;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border-radius: calc($default_radius /2);
  transition: all 0.3s ease-in-out;
  font-size: 1rem;
  font-weight: normal;
  font-family: $main_font;
  gap: 5px;
  width: fit-content;
  text-decoration: none;

  &.btn-block {
    width: 100%;
  }

  &.btn-primary {
    background-color: $main_color;
    color: $font_color_contrast;
    cursor: pointer;

    &:hover {
      background-color: $main_color_darker;
    }
  }

  &.btn-danger {
    background-color: $danger_color;
    color: $font_color;
    cursor: pointer;

    &:hover {
      background-color: $danger_color_darker;
    }
  }

  &.btn-default {
    background-color: $default_color;
    color: $font_color_contrast;
    cursor: pointer;

    &:hover {
      background-color: $default_color_darker;
    }
  }

  &.btn-circle {
    border-radius: 100%;
    padding: 0.5rem;
  }

  &.table-btn {
    background-color: $main_color;
    color: $font_color_contrast;
    cursor: pointer;

    ng-icon {
      color: $font_color_contrast
    }

    &:hover {
      background-color: $main_color_darker;
    }
  }
}

td.actions {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.page {
  flex: 1;
  background-color: $sidebar_color;
  border-radius: $default_radius;
  padding: 1rem 2rem;

  .title-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
  }

  .page-title {
    font-size: 2rem;
    margin-top: 0;
  }

  .page-content {
    padding-top: 1rem;
  }
}

.clickable {
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    opacity: .8;
  }
}

.p-datatable-dark {
  .p-datatable-thead {
    th {
      background: $sidebar_color;
      color: $font_color;
    }
  }


  .p-datatable-tbody {
    tr {
      background: $sidebar_color;
      color: $font_color;
    }
  }

  .p-icon.p-sortable-column-icon {
    color: $font_color;
    opacity: .6;
  }

  .p-sortable-column.p-highlight .p-sortable-column-icon {
    color: $main_color;
    opacity: 1;
  }

  .p-paginator {
    background: $sidebar_color;
    color: $font_color;

    .p-icon-wrapper {
      color: $font_color;
    }

    .p-dropdown-trigger .p-icon-wrapper {
      color: $font_color_contrast;
    }
  }
}

.p-slider {
  .p-slider-range {
    background: $main_color;
  }

  .p-slider-handle {
    border-color: $main_color;

    &:hover {
      background-color: $main_color;
    }
  }
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  color: $font_color_contrast;
  border-color: $main_color_darker;
  background-color: $main_color;
}

.p-dropdown:not(.p-disabled).p-focus {
  border-color: $main_color;
  box-shadow: 0 0 0 1px $main_color;
}

.p-paginator .p-dropdown:focus-visible {
  outline: none;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  background-color: $main_color;
  color: $font_color_contrast;
}

.p-inputswitch {
  &.p-inputswitch-slider {
    border-color: $main_color;
    box-shadow: 0 0 0 1px $main_color;
  }

  .p-inputswitch-slider:before {
    background-color: $background_color;
  }

  &.p-inputswitch-checked .p-inputswitch-slider {
    background-color: $main_color;
  }
}

.p-checkbox .p-checkbox-box.p-highlight {
  border-color: $main_color;
  background: $main_color;
}

.p-checkbox:not(.p-disabled).p-focus {
  border-color: $main_color;
  box-shadow: 0 0 0 1px $main_color;
}

.p-checkbox .p-checkbox-box:focus-visible {
  outline: none;
}

.p-checkbox .p-checkbox-box .p-icon {
  color: $font_color_contrast;
}

.p-custom-dialog {
  .p-dialog-content {
    padding: 0 5.5rem 4rem 5.5rem;
  }
}



section.section {
  padding: .5rem;
  border: 1px solid $background_color;
  border-radius: $default_radius;
  position: relative;

  .section-title {
    position: absolute;
    top: -1rem;
    left: 10px;
    background: $sidebar_color;
    padding: 0 .5rem;
  }

  .section-body {
    padding: .5rem;
  }

  .section-buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-end;
    position: absolute;
    right: 10px;
    top: -1rem;

  }

  .section-small {
    position: absolute;
    bottom: -.5rem;
    left: 10px;
    background: $sidebar_color;
    padding: 0 .5rem;
  }
}