@import "primeng/resources/primeng.css";
@import 'variables';
@import 'mixins';
@import 'fonts';

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main_font, sans-serif;
}

body {
  background-color: $background_color;
  color: $font_color;
}

.page {
  flex: 1;
  background-color: $sidebar_color;
  border-radius: $default_radius;
  padding: 1rem 2rem;

  .page-title {
    font-size: 2rem;
    margin-top: 0;
  }

  .page-content {
    padding-top: 1rem;
  }
}