@import "primeng/resources/primeng.css";
@import 'variables';
@import 'mixins';
@import 'fonts';
@import 'forms';

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main_font, sans-serif;
}

body {
  background-color: $background_color;
  color: $font_color;
}

small {
  font-size: .8rem;
}

.btn-link {
  display: block;
  background: none;
  border: none;
  color: $font_color;
  cursor: pointer;
  font-weight: normal;
  transition: all 0.3s ease-in-out;
  text-decoration: none;

  &:hover {
    color: $main_color_darker!important;
  }
}

.btn {
  background: none;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border-radius: calc($default_radius /2 );
  transition: all 0.3s ease-in-out;
  font-size: 1rem;
  font-weight: normal;
  font-family: $main_font;
  gap: 5px;

  &.btn-block {
    width: 100%;
  }

  &.btn-primary {
    background-color: $main_color;
    color: $font_color_contrast;
    cursor: pointer;

    &:hover {
      background-color: $main_color_darker;
    }
  }
}

.page {
  flex: 1;
  background-color: $sidebar_color;
  border-radius: $default_radius;
  padding: 1rem 2rem;

  .page-title {
    font-size: 2rem;
    margin-top: 0;
  }

  .page-content {
    padding-top: 1rem;
  }
}

.clickable {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    opacity: .8;
  }
}