<form [formGroup]="form">
    <div class="grid">
        <div class="col-12 md:col-8">
            <div class="form-group">
                <label for="lab">{{ 'pages.exams.form.lab' | translate }}</label>
                <p-dropdown [filter]="true" filterBy="name" requiredLabel="lab" class="form-control"
                    formControlName="lab" [options]="labs" optionValue="_id" optionLabel="name"
                    [placeholder]="'select.placeholder' | translate">
                    <ng-template pTemplate="empty">
                        <span>{{ 'select.empty' | translate }}.</span>
                    </ng-template>
                </p-dropdown>
                <app-error-block formControlName="lab" [show]="isSubmitted" />

            </div>
        </div>
        <div class="col-12 md:col-4">
            <div class="form-group">
                <label for="date">{{ 'pages.exams.form.date' | translate }}</label>
                <p-calendar formControlName="date" [dateFormat]="dateFormat" requiredLabel="date"
                    [placeholder]="DATE_MASK_BR" />
                <app-error-block formControlName="date" [show]="isSubmitted" />
            </div>
        </div>
    </div>
    <section class="section mt-4">
        <span class="section-title">{{ 'pages.exams.form.results' | translate }}</span>
        <div class="section-buttons">
            <button type="button" class="btn btn-primary btn-circle table-btn" (click)="openResultModal()"
                [pTooltip]="'pages.exams.form.add_result' | translate" tooltipPosition="left">
                <ng-icon name="phosphorPlus" size="1.2rem" />
            </button>
        </div>
        <div class="section-body py-4">
            <ng-container *ngIf="results?.length; else noResults">
                <div class="results">
                    <div class="result-card card" *ngFor="let result of results">
                        <div class="card-body">
                            <div class="grid">
                                <div class="col-12 md:col-6">
                                    <span class="card-title">
                                        <strong>{{ result.examType.name }}</strong>
                                    </span>
                                </div>
                                <div class="col-12 md:col-6">
                                    <div class="card-result">
                                        <span class="value">{{ result.value }}</span>
                                        <span class="unit">{{ result.examType.unit }}</span>
                                    </div>
                                </div>
                                <div class="col-12 md:col-6">
                                    <span class="card-subtitle">
                                        <strong>{{ 'pages.exams.form.material' | translate }}</strong>
                                        <span>{{ result.material ?? ('not_informed' | translate) }}</span>
                                    </span>
                                </div>
                                <div class="col-12 md:col-6">
                                    <span class="card-subtitle">
                                        <strong>{{ 'pages.exams.form.method' | translate }}</strong>
                                        <span>{{ result.method ?? ('not_informed' | translate) }}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-template #noResults>
                <div class="w100 text-center">
                    <span>{{ 'pages.exams.form.no_results' | translate }}</span>
                </div>
            </ng-template>
        </div>
    </section>
</form>

<p-dialog [(visible)]="isResultModalShown" [modal]="true" [dismissableMask]="true" [draggable]="false"
    class="p-dialog-lg" (onHide)="closeResultModal()">
    <ng-template pTemplate="header">
        <h1>{{ resultModalTitle | translate }}</h1>
    </ng-template>
    <ng-template pTemplate="content">
        <form [formGroup]="resultForm">
            <div class="grid">
                <div class="col-12 md:col-6">
                    <div class="form-group">
                        <label for="examType">{{ 'pages.exams.form.exam_type' | translate }}</label>
                        <p-dropdown [filter]="true" filterBy="nome" requiredLabel="examType" class="form-control"
                            formControlName="examType" [options]="examTypes" optionValue="_id" optionLabel="name"
                            [placeholder]="'select.placeholder' | translate" appendTo="body">
                            <ng-template pTemplate="empty">
                                <span>{{ 'select.empty' | translate }}.</span>
                            </ng-template>
                        </p-dropdown>
                        <app-error-block formControlName="examType" [show]="isSubmittedResult" />
                    </div>
                </div>
                <div class="col-12 md:col-6" [ngClass]="{disabled: !resultForm.get('examType')?.value}">
                    <div class="form-group">
                        <label for="value">{{ 'pages.exams.form.value' | translate }}</label>
                        <div class="input-group w100">
                            <input type="text" formControlName="value" mask="separator.2" thousandSeparator="."
                                decimalMarker="," class="form-control">
                            <div class="posfix">{{examType?.unit}}</div>
                        </div>
                        <app-error-block formControlName="value" [show]="isSubmittedResult" />
                    </div>
                </div>
            </div>
            <div class="grid">
                <div class="col-12 md:col-6" [ngClass]="{disabled: !resultForm.get('examType')?.value}">
                    <div class="form-group">
                        <label for="material">{{ 'pages.exams.form.material' | translate }}</label>
                        <input type="text" formControlName="material" class="form-control" requiredLabel="material" />
                        <app-error-block formControlName="material" [show]="isSubmittedResult" />
                    </div>
                </div>
                <div class="col-12 md:col-6" [ngClass]="{disabled: !resultForm.get('examType')?.value}">
                    <div class="form-group">
                        <label for="material">{{ 'pages.exams.form.method' | translate }}</label>
                        <input type="text" formControlName="method" class="form-control" requiredLabel="method" />
                        <app-error-block formControlName="method" [show]="isSubmittedResult" />
                    </div>
                </div>
            </div>
        </form>
    </ng-template>
    <ng-template pTemplate="footer">
        <div class="grid">
            <div class="col-12 md:col-6">
                <button (click)="isResultModalShown = false" type="button" class="btn btn-default mr-auto">{{ 'close' |
                    translate }}</button>
            </div>
            <div class="col-12 md:col-6">
                <button (click)="saveResult()" type="button" class="btn btn-primary ml-auto">{{ 'continue' | translate
                    }}</button>
            </div>
        </div>
    </ng-template>
</p-dialog>