@import 'variables';

::ng-deep {
    .p-dialog-lg {
        .p-dialog {
            @media (min-width: $lg-breakpoint) {
                width: 80vw;
            }

            @media (max-width: calc($lg-breakpoint - 1px)) {
                width: 95vw;
            }

            .p-dialog-header,
            .p-dialog-content,
            .p-dialog-footer {
                background-color: $sidebar_color;
                color: $font_color;
            }
        }
    }
}

.results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 2rem;
    row-gap: 3rem;
}

.types-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2rem;
    row-gap: 3rem;
}