@import 'variables';

:host {
    flex: 1;
    display: contents;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(100% / 5), 1fr));
    gap: 1rem;
}

@media (max-width: $lg-breakpoint) {
    .cards-container {
        grid-template-columns: repeat(auto-fit, minmax(calc(100% / 3), 1fr));
    }
}

@media (max-width: $md-breakpoint) {
    .cards-container {
        grid-template-columns: repeat(auto-fit, minmax(calc(100% / 2), 1fr));
    }
}

@media (max-width: $sm-breakpoint) {
    .cards-container {
        grid-template-columns: repeat(auto-fit, 1fr);
    }
}


.health-indicators-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    @media (max-width: $md-breakpoint) {
        grid-template-columns: 1fr;
    }
}

.section-item {
    padding: 20px 10px;
    border: solid 1px #ccc;
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.87);
    display: inline-block;
    box-sizing: border-box;
    user-select: none;
    cursor: move;
    background: white;
    text-align: center;
    font-size: 14px;
    min-width: 115px;
    position: relative;
}

.cdk-drag {
    position: relative;



    .card-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0;
        bottom: -1rem;
        gap: .5rem;
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease-in-out;
        z-index: 2;

        &.card-buttons-top {
            top: 0;
            bottom: unset;
        }
    }

    &:hover {
        .card-buttons {
            opacity: 1;
            visibility: visible;
        }

    }
}

.cdk-drag-preview {
    box-sizing: border-box;
    z-index: 999;
    cursor: move;
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    z-index: 999;
}