<div class="page">
    <div class="title-row">
        <h3 class="page-title">{{ 'pages.dashboard.title' | translate }}</h3>
    </div>
    <div class="page-content">
        <div class="grid">
            <div class="col-12 md:col-11">
                <h3>{{ 'pages.dashboard.indicators' | translate }}</h3>
            </div>
            <div class="col-12 md:col-1">
                <button type="button" class="btn btn-primary btn-circle table-btn" [pTooltip]="'pages.dashboard.add_indicator' | translate">
                    <ng-icon name="phosphorPlus" size="1.2rem" />
                </button>
            </div>
        </div>
        <div class="cards-container" cdkDropList cdkDropListOrientation="mixed" id="selectedSection"
            [cdkDropListData]="items" (cdkDropListDropped)="onItemDrop($event)">
            <div cdkDrag *ngFor="let item of items; let index = index">
                <div class="card-buttons">
                    <button type="button" class="btn btn-default btn-circle table-btn"
                        [pTooltip]="'drag_to_reorder' | translate" [autoHide]="false" tooltipPosition="top">
                        <ng-icon cdkDragHandle name="phosphorArrowsOut" size="1.2rem" />
                    </button>
                    <button type="button" class="btn btn-default btn-circle table-btn"
                        [pTooltip]="'delete' | translate" [autoHide]="false" tooltipPosition="top" (click)="removeItem(index)">
                        <ng-icon name="phosphorTrashSimple" size="1.2rem" />
                    </button>
                </div>
                <app-dashboard-card [title]="item.examType.name" [value]="item.value" [unit]="item.examType.unit" [date]="item.date" />
            </div>
        </div>
    </div>
</div>